<p-button (click)="showDialog()"
          label="See more"
          styleClass="p-button-warning"
>
</p-button>
<p-dialog header="{{article.title}}"
          [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '80vw'}"
          [baseZIndex]="10000"
>
  <img src='{{article.urlToImage}}'
       width='100px'
       height='100px'
       alt='News'
  >
  <p>{{article.content}}</p>
  <br/>
  <a href="{{article.url}}"
     target='_blank'
  >
    Visit the website to see the full article
  </a>
</p-dialog>
