\:host
  position: relative
  display: block
  padding: 20px
  flex: 1 1
  height: 100%

.feed-loading-layer
  width: 100%
  height: 100%
  font-size: 22px
  display: flex
  justify-content: center
  align-items: center

.feed-loading-icon
  margin-right: 10px
