<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <img mat-card-avatar
         *ngIf='article.urlToImage'
         src='{{article.urlToImage}}'
         alt='Image'
    />
    <mat-card-title>
      {{article.title}}
    </mat-card-title>
    <mat-card-subtitle>
      <small>{{article.publishedAt |  date:'medium'}}</small>
      <br/>
      <small *ngIf='article.author'>by {{article.author}} for {{article.source.name}}</small>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{article.description | limitTo: 200}}</p>
  </mat-card-content>

  <mat-card-actions>
    <app-article-modal [article]="article"></app-article-modal>
  </mat-card-actions>

</mat-card>
